<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.hivelens"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lens"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.capstone.hivelens.HiveLens"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation"
   			android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.capstone.hivelens.HiveLens2"
            android:label="@string/title_activity_hive_lens2" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation"
   			android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>